/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "sans-serif";
  user-select: none;
}

.ludo {
  position: relative;
  width: 100vw;
  height: 120vh;
  background-image: linear-gradient(to right, #ff4348 0%, #ff1e64 100%);
}
.ludo__body {
  width: 110vh;
  height: 100vh;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ludo__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.ludo__dice {
  position: absolute;
  z-index: 10000000000;
  perspective: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ludo__dice > img {
  width: 69px;
  height: 69px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ludo__players {
  z-index: -1;
}
.ludo__players--home > * {
  width: 40%;
  height: 40%;
  display: inline-block;
  position: absolute;
}
.ludo__players--home__place {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.ludo__players--home-g {
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-self: center;
  background: #00ff01;
}
.ludo__players--home-g > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-g > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__players--home-b {
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #41a2ff;
}
.ludo__players--home-b > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-b > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__players--home-r {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #fe0000;
}
.ludo__players--home-r > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-r > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__players--home-y {
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #ffff00;
}
.ludo__players--home-y > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-y > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__tracks > * {
  position: absolute;
  z-index: 1;
}
.ludo__tracks-1 {
  top: 0;
  left: 50%;
  width: 20.05%;
  height: 40.1%;
  transform: translateX(-50%);
}
.ludo__tracks-1--rows {
  width: 100%;
  height: 100%;
  display: flex;
}
.ludo__tracks-1--rows-1, .ludo__tracks-1--rows-2, .ludo__tracks-1--rows-3 {
  position: relative;
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-1--rows [data-winb="26"],
.ludo__tracks-1--rows [data-winb="27"],
.ludo__tracks-1--rows [data-winb="28"],
.ludo__tracks-1--rows [data-winb="29"],
.ludo__tracks-1--rows [data-winb="30"] {
  background: #41a2ff;
}
.ludo__tracks-1--rows [data-id="27"] {
  background: #41a2ff;
}
.ludo__tracks-2 {
  bottom: 0;
  width: 20.05%;
  height: 40.1%;
  transform: translateX(-50%);
  left: 50%;
}
.ludo__tracks-2--rows {
  width: 100%;
  height: 100%;
  display: flex;
}
.ludo__tracks-2--rows-1, .ludo__tracks-2--rows-2, .ludo__tracks-2--rows-3 {
  position: relative;
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-2--rows [data-winr="52"],
.ludo__tracks-2--rows [data-winr="1"],
.ludo__tracks-2--rows [data-winr="2"],
.ludo__tracks-2--rows [data-winr="3"],
.ludo__tracks-2--rows [data-winr="4"] {
  background: #fe0000;
}
.ludo__tracks-2--rows [data-id="1"] {
  background: #fe0000;
}
.ludo__tracks-3 {
  top: 50%;
  height: 20.05%;
  width: 40.1%;
  transform: translateY(-50%);
}
.ludo__tracks-3--rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-3--rows-1, .ludo__tracks-3--rows-2, .ludo__tracks-3--rows-3 {
  position: relative;
  width: 100%;
  height: 33.3333333333%;
  display: flex;
}
.ludo__tracks-3--rows [data-wing="13"],
.ludo__tracks-3--rows [data-wing="14"],
.ludo__tracks-3--rows [data-wing="15"],
.ludo__tracks-3--rows [data-wing="16"],
.ludo__tracks-3--rows [data-wing="17"] {
  background: #00ff01;
}
.ludo__tracks-3--rows [data-id="14"] {
  background: #00ff01;
}
.ludo__tracks-4 {
  top: 50%;
  right: 0;
  height: 20.05%;
  width: 40.1%;
  transform: translateY(-50%);
}
.ludo__tracks-4--rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-4--rows-1, .ludo__tracks-4--rows-2, .ludo__tracks-4--rows-3 {
  position: relative;
  width: 100%;
  height: 33.3333333333%;
  display: flex;
}
.ludo__tracks-4--rows [data-winy="39"],
.ludo__tracks-4--rows [data-winy="40"],
.ludo__tracks-4--rows [data-winy="41"],
.ludo__tracks-4--rows [data-winy="42"],
.ludo__tracks-4--rows [data-winy="43"] {
  background: #ffff00;
}
.ludo__tracks-4--rows [data-id="40"] {
  background: #ffff00;
}

.boxRow {
  position: relative;
  height: calc(100% / 6);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.boxCol {
  position: relative;
  width: calc(100% / 6);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.pawn {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid lightgrey;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  z-index: 1000000000000000100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.pawn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(2px);
}

.temp {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 19999999;
}
.temp > * {
  width: 300px;
  height: 60px;
  margin: 0 5px;
  cursor: pointer;
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
.temp-5:hover {
  background: #41a2ff;
}

.none {
  display: none;
}

.g {
  background: #00ff01;
}

.b {
  background: #41a2ff;
}

.r {
  background: #fe0000;
}

.y {
  background: #ffff00;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "sans-serif";
  user-select: none;
}

.ludo {
  position: relative;
  width: 100vw;
  height: 120vh;
  background-image: linear-gradient(to right, #ff4348 0%, #ff1e64 100%);
}
.ludo__body {
  width: 110vh;
  height: 100vh;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ludo__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.ludo__dice {
  position: absolute;
  z-index: 10000000000;
  perspective: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ludo__dice > img {
  width: 69px;
  height: 69px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ludo__players {
  z-index: -1;
}
.ludo__players--home > * {
  width: 40%;
  height: 40%;
  display: inline-block;
  position: absolute;
}
.ludo__players--home__place {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.ludo__players--home-g {
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-self: center;
  background: #00ff01;
}
.ludo__players--home-g > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-g > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__players--home-b {
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #41a2ff;
}
.ludo__players--home-b > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-b > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__players--home-r {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #fe0000;
}
.ludo__players--home-r > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-r > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__players--home-y {
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: #ffff00;
}
.ludo__players--home-y > [data-place] {
  position: relative;
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 400ms;
}
.ludo__players--home-y > [data-place]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.ludo__tracks > * {
  position: absolute;
  z-index: 1;
}
.ludo__tracks-1 {
  top: 0;
  left: 50%;
  width: 20.05%;
  height: 40.1%;
  transform: translateX(-50%);
}
.ludo__tracks-1--rows {
  width: 100%;
  height: 100%;
  display: flex;
}
.ludo__tracks-1--rows-1, .ludo__tracks-1--rows-2, .ludo__tracks-1--rows-3 {
  position: relative;
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-1--rows [data-winb="26"],
.ludo__tracks-1--rows [data-winb="27"],
.ludo__tracks-1--rows [data-winb="28"],
.ludo__tracks-1--rows [data-winb="29"],
.ludo__tracks-1--rows [data-winb="30"] {
  background: #41a2ff;
}
.ludo__tracks-1--rows [data-id="27"] {
  background: #41a2ff;
}
.ludo__tracks-2 {
  bottom: 0;
  width: 20.05%;
  height: 40.1%;
  transform: translateX(-50%);
  left: 50%;
}
.ludo__tracks-2--rows {
  width: 100%;
  height: 100%;
  display: flex;
}
.ludo__tracks-2--rows-1, .ludo__tracks-2--rows-2, .ludo__tracks-2--rows-3 {
  position: relative;
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-2--rows [data-winr="52"],
.ludo__tracks-2--rows [data-winr="1"],
.ludo__tracks-2--rows [data-winr="2"],
.ludo__tracks-2--rows [data-winr="3"],
.ludo__tracks-2--rows [data-winr="4"] {
  background: #fe0000;
}
.ludo__tracks-2--rows [data-id="1"] {
  background: #fe0000;
}
.ludo__tracks-3 {
  top: 50%;
  height: 20.05%;
  width: 40.1%;
  transform: translateY(-50%);
}
.ludo__tracks-3--rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-3--rows-1, .ludo__tracks-3--rows-2, .ludo__tracks-3--rows-3 {
  position: relative;
  width: 100%;
  height: 33.3333333333%;
  display: flex;
}
.ludo__tracks-3--rows [data-wing="13"],
.ludo__tracks-3--rows [data-wing="14"],
.ludo__tracks-3--rows [data-wing="15"],
.ludo__tracks-3--rows [data-wing="16"],
.ludo__tracks-3--rows [data-wing="17"] {
  background: #00ff01;
}
.ludo__tracks-3--rows [data-id="14"] {
  background: #00ff01;
}
.ludo__tracks-4 {
  top: 50%;
  right: 0;
  height: 20.05%;
  width: 40.1%;
  transform: translateY(-50%);
}
.ludo__tracks-4--rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ludo__tracks-4--rows-1, .ludo__tracks-4--rows-2, .ludo__tracks-4--rows-3 {
  position: relative;
  width: 100%;
  height: 33.3333333333%;
  display: flex;
}
.ludo__tracks-4--rows [data-winy="39"],
.ludo__tracks-4--rows [data-winy="40"],
.ludo__tracks-4--rows [data-winy="41"],
.ludo__tracks-4--rows [data-winy="42"],
.ludo__tracks-4--rows [data-winy="43"] {
  background: #ffff00;
}
.ludo__tracks-4--rows [data-id="40"] {
  background: #ffff00;
}

.boxRow {
  position: relative;
  height: calc(100% / 6);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.boxCol {
  position: relative;
  width: calc(100% / 6);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.pawn {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid lightgrey;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  z-index: 1000000000000000100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.pawn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(2px);
}

.temp {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 19999999;
}
.temp > * {
  width: 300px;
  height: 60px;
  margin: 0 5px;
  cursor: pointer;
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
.temp-5:hover {
  background: #41a2ff;
}

.none {
  display: none;
}

/*# sourceMappingURL=main.css.map */
