@import "../abstracts/mixins";

// #41a2ff
// #fe0000
// #00ff01
// #ffff00

$blue: #41a2ff;
$red: #fe0000;
$green: #00ff01;
$yellow: #ffff00;

$blueTr: rgba(65, 162, 255, 0.51);
$redTr: rgba(254, 0, 0, 0.59);
$greenTr: rgba(0, 255, 1, 0.56);
$yellowTr: rgba(255, 255, 0, 0.53);

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'sans-serif';
  user-select: none;
}

.ludo {
  position: relative;
  width: 100vw;
  height: 120vh;
  background-image: linear-gradient(to right, #ff4348 0%, #ff1e64 100%);

  &__body {
    width: 110vh;
    height: 100vh;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);

    @include absCenter();
   }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__players {
    z-index: -1;

    &--home {


      * {
        width: 40%;
        height: 40%;
        display: inline-block;
        position: absolute;
      }

      &-1 {
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

        justify-self: center;
        background: $green;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }

      &-2 {
        right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background: $blue;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }

      &-3 {
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background: $red;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }

      &-4 {
        bottom: 0;
        right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background: $yellow;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }
    }
  }

  &__tracks {
    //width: 100%;
    //height: 100%;
    //position: absolute;
    //top: 0;
    //z-index: -1;

    > * {
      position: absolute;
      z-index: 1;
    }

    &-1 {
      top: 0;
      left: 50%;
      width: 20.05%;
      height: 40.1%;
      transform: translateX(-50%);

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;

        &-1,
        &-2,
        &-3 {
          @include columns();

          display: flex;
          flex-direction: column;
        }

        [data-winb="26"],
        [data-winb="27"],
        [data-winb="28"],
        [data-winb="29"],
        [data-winb="30"]{
          background: $blue;
        }

        [data-id="27"] {
          background: $blue;
        }
      }
    }

    &-2 {
      bottom: 0;
      width: 20.05%;
      height: 40.1%;
      transform: translateX(-50%);
      left: 50%;

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;

        &-1,
        &-2,
        &-3 {
          @include columns();

          display: flex;
          flex-direction: column;
        }

        [data-winr="52"],
        [data-winr="1"],
        [data-winr="2"],
        [data-winr="3"],
        [data-winr="4"]{
           background: $red;
        }

        [data-id="1"] {
            background: $red;
        }
      }
    }

    &-3 {
      top: 50%;
      height: 20.05%;
      width: 40.1%;
      transform: translateY(-50%);

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-1,
        &-2,
        &-3 {
          @include rows();

          display: flex;
        }

        [data-wing="13"],
        [data-wing="14"],
        [data-wing="15"],
        [data-wing="16"],
        [data-wing="17"]{
          background: $green;
        }

        [data-id="14"] {
          background: $green;
        }
      }
    }

    &-4 {
      top: 50%;
      right: 0;
      height: 20.05%;
      width: 40.1%;
      transform: translateY(-50%);

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-1,
        &-2,
        &-3 {
          @include rows();

          display: flex;
        }

        [data-winy="39"],
        [data-winy="40"],
        [data-winy="41"],
        [data-winy="42"],
        [data-winy="43"]{
          background: $yellow;
        }

        [data-id="40"] {
          background: $yellow;
        }
      }
    }
  }
}

.boxRow {
  position: relative;
  height: calc(100% / 6);
  width: 100%;
  border: 1px solid rgba(0,0,0,0.8);

  @include flexCenter();
}

.box {
  display: flex;
}

.boxCol {
  position: relative;
  width: calc(100% / 6);
  height: 100%;
  border: 1px solid rgba(0,0,0,0.8);

  @include flexCenter();
}

.pawn{
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid lightgrey;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  z-index: 999999999999999999;
  cursor: pointer;

  @include absCenter();
  display: flex;
  justify-content: center;
  align-items: center;
 }


.temp {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 19999999;

  > * {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: 300ms;
  }

  &-1:hover,
  &-2:hover,
  &-3:hover,
  &-4:hover {
    background: $blue;
  }
}