@import "../abstracts/mixins";

// #41a2ff
// #fe0000
// #00ff01
// #ffff00

$blue: #41a2ff;
$red: #fe0000;
$green: #00ff01;
$yellow: #ffff00;

$blueTr: rgba(65, 162, 255, 0.51);
$redTr: rgba(254, 0, 0, 0.59);
$greenTr: rgba(0, 255, 1, 0.56);
$yellowTr: rgba(255, 255, 0, 0.53);

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  overflow-x: hidden;
  font-family: 'sans-serif';
  user-select: none;
}

.ludo {
  position: relative;
  width: 100vw;
  height: 120vh;
  background-image: linear-gradient(to right, #ff4348 0%, #ff1e64 100%);
  perspective: 1000px;

  &__body {
    width: 110vh;
    height: 100vh;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotateX(20deg);
   }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__dice {
    position: absolute;
    z-index: 10000000000;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include absCenter();

    > img {
      width: 69px;
      height: 69px;
      //display: none;
      transition: 400ms;
    }

  }

  &__players {
    z-index: -1;

    &--home {

      > * {
        width: 40%;
        height: 40%;
        display: inline-block;
        position: absolute;
        perspective: 1000px;
      }

      &__place {
        @include flexCenter();
      }

      &-g {
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

        justify-self: center;
        background: $green;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }

      &-b {
        right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background: $blue;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }

      &-r {
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background: $red;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }

      &-y {
        bottom: 0;
        right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        background: $yellow;

        > [data-place] {

          @include data-place();

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
          }
        }
      }
    }
  }

  &__tracks {
    //width: 100%;
    //height: 100%;
    //position: absolute;
    //top: 0;
    //z-index: -1;

    > * {
      position: absolute;
      z-index: 1;
    }

    &-1 {
      top: 0;
      left: 50%;
      width: 20.05%;
      height: 40.1%;
      transform: translateX(-50%);

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;

        &-1,
        &-2,
        &-3 {
          @include columns();

          display: flex;
          flex-direction: column;
        }

        [data-b="0"],
        [data-b="51"],
        [data-b="52"],
        [data-b="53"],
        [data-b="54"],
        [data-b="55"]{
          background: $blue;
        }
      }
    }

    &-2 {
      bottom: 0;
      width: 20.05%;
      height: 40.1%;
      transform: translateX(-50%);
      left: 50%;

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;

        &-1,
        &-2,
        &-3 {
          @include columns();

          display: flex;
          flex-direction: column;
        }

        [data-r="0"],
        [data-r="51"],
        [data-r="52"],
        [data-r="53"],
        [data-r="54"],
        [data-r="55"]{
           background: $red;
        }
      }
    }

    &-3 {
      top: 50%;
      height: 20.05%;
      width: 40.1%;
      transform: translateY(-50%);

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-1,
        &-2,
        &-3 {
          @include rows();

          display: flex;
        }

        [data-g="0"],
        [data-g="51"],
        [data-g="52"],
        [data-g="53"],
        [data-g="54"],
        [data-g="55"]{
          background: $green;
        }
      }
    }

    &-4 {
      top: 50%;
      right: 0;
      height: 20.05%;
      width: 40.1%;
      transform: translateY(-50%);

      &--rows {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-1,
        &-2,
        &-3 {
          @include rows();

          display: flex;
        }

        [data-y="0"],
        [data-y="51"],
        [data-y="52"],
        [data-y="53"],
        [data-y="54"],
        [data-y="55"]{
          background: $yellow;
        }
      }
    }
  }
}

.boxRow {
  position: relative;
  height: calc(100% / 6);
  width: 100%;
  border: 1px solid rgba(0,0,0,0.8);

  //@include flexCenter();
}

.box {
  //@include flexCenter();
}

.boxCol {
  position: relative;
  width: calc(100% / 6);
  height: 100%;
  border: 1px solid rgba(0,0,0,0.8);
}

.pawn{
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  //border: 4px solid lightgrey;
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
  background-image: url('../images/pawn.png');
  //z-index: 1;
  cursor: pointer;

  //@include absCenter();
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    //transform: translateY(-2px);
  }
 }

.box > .pawn:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    z-index: 2;
  }
}
.box > .pawn:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);

  &:hover {
    z-index: 2;
  }
}
.box > .pawn:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  &:hover {
    z-index: 2;
  }
}
.box > .pawn:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);

  &:hover {
    z-index: 2;
  }
}

//
//.boxCol > .pawn,
//.boxRow > .pawn{
//  width: 100%;
//  height: 100%;
//}

.temp {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 19999999;

  > * {
    width: 300px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    transition: 300ms;

    @include flexCenter();
    color: #fff;
  }

  &-5:hover {
    background: $blue;
  }
}


.none {
  display: none;
}


.score__container {
  width: 100px;
  height: 60px;
  border: 1px solid lightgrey;
  background: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  color: $blue;

  display: flex;
  justify-content: space-evenly;
  font-family: 'Consolas';
  align-items: center;
  //@include flexCenter();
  @include absCenter();
  font-size: 26px;

    > span {
      backface-visibility: hidden;
      transition: 450ms;
      cursor: pointer;
      font-size: 35px;

      &.active {
        color: red;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }
}

.activePlayer {
  display: none;
}

.activePlayer.showThis {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotateX(-20deg);
  padding: 10px 10px;
  border: 1px solid lightgrey;
  background: #ff1e64;
  color: #fff;
  font-family: Consolas;
  font-weight: bold;
  font-size: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.temp > input[type="number"]{
  color: red;
  height: 50px;
  width: 180px;
}

.showInfo {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateX(-50%);
  width: 13vw;
  height: 0;
  background: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0;
  transition: 400ms;
  @include flexCenter();
}

.showInfo.cum {
  height: 40px;
  opacity: 1;
}

.manual__panel {
  @include absCenter();
  position: fixed;
  width: 80vw;
  height: 80vh;

  opacity: 0.5;
  transition: 400ms;
  transform: translate(-50%, -50%) scale(0, 0);

  background: linear-gradient(to left, rgba(210,255,82,1) 100%, rgba(145,232,66,1) 100%);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.7);

  padding: 10% 10%;

  > p {
    font-size: 25px;
    font-family: Consolas;
    padding: 20px;

    > a {
      color: red;
      text-decoration: none;
      transition: 300ms;

      &:hover {
        color: blue;
      }
    }
  }

  > .close_manual {
    position: fixed;
    top: 4%;
    right: 2.5%;
    font-size: 20px;
    font-weight: 700;
    color: #5643fa;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      color: #0f06fa;
    }
  }
}

.ss_guides {
  @include absCenter();
  position: fixed;
  width: 80vw;
  height: 90vh;

  //@include flexCenter();

  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: scroll;

  opacity: 0.5;
  transition: 400ms;
  transform: translate(-50%, -50%) scale(0, 0);

  background: linear-gradient(to left, rgba(210,255,82,1) 100%, rgba(145,232,66,1) 100%);

  > .container {
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
    margin: 70px auto;

     img {
        border: 8px groove rgba(2, 2, 2, 0.72);
        border-radius: 4px;
    }

    > .contSec {
      //height: 80%;
      padding: 10px 0 0 50px;
      font-size: 21px;
      text-align: justify;
      color: darkslategrey;
    }

    > ul {
      font-size: 21px;

      > li {
        list-style: none;
        padding: 20px 0;
        font-weight: 600;
      }
    }
  }

  > .container.alt {
    flex-direction: row-reverse;

    >.contSec {
      padding: 10px 50px 0 0;
    }
  }


  > .close_ss {
    position: fixed;
    top: 4%;
    right: 2.5%;
    font-size: 20px;
    font-weight: 700;
    color: #5643fa;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      color: #0f06fa;
    }
  }
}


.ss_guides.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
}

.manual__panel.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1, 1);
}